html,
body { overflow-x: hidden; }

body { box-sizing: border-box; }
body[loading] { opacity: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

.header {
  height: 136px;
  position: relative;
  z-index: 1;
  margin-bottom: -9px;
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 94%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0, 100% 100%, 50% 94%, 0% 100%);
}

.header::before {
  content: "";
  background-image: linear-gradient(90deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.14) 100%);
}

  .header__title {
    margin: -12px 0 0;
    padding-left: 60px;
  }

.paper-tabs-wrapper {
  box-shadow: 0 1px 5px 0 rgba(0,0,0,.24);
  background: #fff;
  position: relative;
  z-index: 2;
}

.paper-tabs {
  text-transform: uppercase;
  max-width: 1024px;
  width: 100%;
  margin: auto;
}

  .paper-tabs__link {
    text-decoration: none;
  }

.pager {
  position: absolute;
  bottom: 4%; left: 0; right: 0;
  margin: auto;
  width: 100%;
  max-width: 1220px;
  z-index: 1;
  box-sizing: border-box;
  padding: 0 20px;
  transition: transform .2s ease-in;
}

  .pager__item--left { float: left; }
  .pager__item--right { float: right; }

/* desktop > 1024px */
@media (min-width: 64.06em) {
  .pager {
    top: 50%;
    bottom: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}
