body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit; }

.header {
  height: 127px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.header::before {
  content: "";
  -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  background-image: linear-gradient(90deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.14) 100%);
}

.header__title {
  -webkit-flex: 1 0 50%;
      -ms-flex: 1 0 50%;
          flex: 1 0 50%;
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: -12px 0 0;
  padding-left: 60px;
}
